body{
    background-color: mediumpurple;
  }
  .square{
    width: 20rem;
    height: 20rem;
    background-color: white;
    opacity: .6;
  }
  
  /*
  Toda animação tem um ponto de inicio e um ponto final
  
  utilizamos 
  @keyframes que é uma regra de frames
  nome pode ser o que nos quisermos
  
  */
  
  .square{
    /*

    animation-name: move, blink;
    animation-duration: 2s, 400ms;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    Aplicando shorthands
    Utilizando todas as animacoes em 1 linha só
    */
    animation: move 1s forwards alternate infinite, blink 100ms infinite;

  }
  

  /* parando a transição com mouse*/

  .square:hover{
    animation-play-state: paused;
  }
  
  @keyframes move {
    /* from */
    0% {
  
    }
    /* to */
    100% {
        transform: translate(calc(100vw - 100% - 16px));
  
    }
  }

  /* para fazer a animação piscar*/

  @keyframes blink {
    50%{
      opacity: 1;
    }
    
  }